In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import re
import argparse
import logging

# import os
# import glob
import sys
from pathlib import Path

In [2]:
machine = 'desktop'
if machine == 'laptop':
    # laptop directory
    directory = "C:\\Users\\watson\\Documents\\GitHub\\SabberStone-master\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\"
elif machine == 'desktop':
    # desktop directory
    directory = "C:\\Users\\watson\\Documents\\SabberStone 2019\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\"
elif machine == 'kong':
    directory = "blah"

In [3]:
directory

'C:\\Users\\watson\\Documents\\SabberStone 2019\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\'

In [29]:
games = []
pathlist = Path(directory).glob('**\\*.txt')
filepaths = {}
for path in pathlist:
    #print('__________________________________________________________________')
    # because path is object not string
    game_name = str(path)
    game_csv_name = game_name.replace('.txt', '.csv')
    game_plot_name = game_name.replace('.txt', '.png')
    #print(game_name)
    #print(game_csv_name)
    #print(game_plot_name)
    parts = str(path).split('\\')
    game_id = parts[-1]
    filepaths[game_id] = game_name
    with open(game_csv_name) as f:
        df = pd.read_csv(f, index_col=0)
        id_col = [game_id for row in range(df.shape[0])]
        df.insert(0, "GAME_ID", game_id)
        games.append(df)
    #game_obj = GameFilter(game_name)
    #game_obj.parse_file(game_csv_name)
    #logging.info('Number of turns: {}'.format(len(game_obj.end_of_turn_data)))
    #game_obj.plot_data(game_plot_name)
len(games)

20

In [8]:
filepaths['game04.txt']

'C:\\Users\\watson\\Documents\\SabberStone 2019\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\game04.txt'

In [30]:
games_df = pd.concat(games)
games_df.reset_index(drop=True, inplace=True)
games_df.head(15)

,GAME_ID,TURN_NO,P1_HEALTH,P2_HEALTH,CURRENT_PLAYER,AMOUNTHEALEDTHISTURN,NUMATTACKSTHISTURN,NUMCARDSDRAWNTHISTURN,NUMCARDSPLAYEDTHISTURN,NUMCARDSTODRAW,...,NUMFRIENDLYMINIONSTHATDIEDTHISTURN,NUMMINIONSPLAYEDTHISTURN,NUMMINIONSPLAYERKILLEDTHISTURN,NUMOPTIONSPLAYEDTHISTURN,NUMSECRETSPLAYEDTHISGAME,NUMSPELLSPLAYEDTHISGAME,NUMTIMESHEROPOWERUSEDTHISGAME,REMAININGMANA,TOTALMANASPENTTHISGAME,USEDMANATHISTURN
0,game01.txt,1,30,30,P1 Roffle,0,0,1,1,0,...,0,1,0,1,0,0,0,0,1,1
1,game01.txt,2,30,30,P2 Viper,0,0,1,1,0,...,0,1,0,1,0,0,0,0,1,1
2,game01.txt,3,30,27,P1 Roffle,0,0,1,2,0,...,0,2,0,3,0,0,0,0,3,2
3,game01.txt,4,29,27,P2 Viper,0,0,1,2,0,...,0,1,0,3,0,1,0,0,4,2
4,game01.txt,5,29,21,P1 Roffle,0,0,1,2,0,...,1,1,1,5,0,1,0,0,6,3
5,game01.txt,6,20,21,P2 Viper,0,0,1,2,0,...,0,2,0,6,0,1,0,3,4,0
6,game01.txt,7,20,12,P1 Roffle,0,0,1,1,0,...,0,1,0,7,0,1,0,3,7,1
7,game02.txt,1,30,30,P1 Roffle,0,0,1,1,0,...,0,1,0,1,0,0,0,0,1,1
8,game02.txt,2,30,30,P2 Viper,0,0,1,1,0,...,0,1,0,1,0,0,0,0,1,1
9,game02.txt,3,30,30,P1 Roffle,0,0,1,2,0,...,0,1,0,3,0,1,0,0,3,2
10,game02.txt,4,26,30,P2 Viper,0,0,4,4,0,...,1,1,1,5,0,3,0,0,4,2
11,game02.txt,5,26,24,P1 Roffle,0,0,1,2,0,...,1,1,2,4,0,2,0,1,5,2
12,game02.txt,6,26,24,P2 Viper,0,0,1,1,0,...,0,1,0,1,0,3,0,0,7,3
13,game02.txt,7,26,11,P1 Roffle,0,0,1,2,0,...,0,2,0,5,0,2,0,0,9,4
14,game02.txt,8,22,11,P2 Viper,0,0,1,2,0,...,0,2,0,5,0,3,0,0,11,4

In [31]:
games_df.isnull().any()

GAME_ID                                   False
TURN_NO                                   False
P1_HEALTH                                 False
P2_HEALTH                                 False
CURRENT_PLAYER                            False
AMOUNTHEALEDTHISTURN                      False
NUMATTACKSTHISTURN                        False
NUMCARDSDRAWNTHISTURN                     False
NUMCARDSPLAYEDTHISTURN                    False
NUMCARDSTODRAW                            False
NUMELEMENTALSPLAYEDLASTTURN               False
NUMELEMENTALSPLAYEDTHISTURN               False
NUMFRIENDLYMINIONSTHATATTACKEDTHISTURN    False
NUMFRIENDLYMINIONSTHATDIEDTHISTURN        False
NUMMINIONSPLAYEDTHISTURN                  False
NUMMINIONSPLAYERKILLEDTHISTURN            False
NUMOPTIONSPLAYEDTHISTURN                  False
NUMSECRETSPLAYEDTHISGAME                  False
NUMSPELLSPLAYEDTHISGAME                   False
NUMTIMESHEROPOWERUSEDTHISGAME             False
REMAININGMANA                             False
TOTALMANASPENTTHISGAME                    False
USEDMANATHISTURN                          False
dtype: bool

## Some rows have RemainingMana == -1, which makes no sense.

### Minimum E.O.T. mana for any player should be 0.

In [32]:
games_df[30:34][['GAME_ID','TURN_NO', 'P1_HEALTH', 'P2_HEALTH', 'CURRENT_PLAYER', 'REMAININGMANA']]

       GAME_ID  TURN_NO  P1_HEALTH  P2_HEALTH CURRENT_PLAYER  REMAININGMANA
30  game04.txt        6         20         26       P2 Viper              0
31  game04.txt        7         20         26      P1 Roffle              0
32  game04.txt        8         14         26       P2 Viper             -1
33  game04.txt        9         14         25      P1 Roffle              3

In [27]:
flag = False
savedLines = []
with open(filepaths['game04.txt']) as f:
    lines = f.readlines()
    for line in lines:
        if 'turn no 8' in line:
            flag = True
        if flag:
            savedLines.append(line)
        if flag and line[0] == '_' and line[-2] == '|':
            break
savedLines

['Player1: PLAYING / Player2: PLAYING - turn no 8\n',
 'Hero[P1]: 14 / Hero[P2]: 26\n',
 '>>>>>>>>>TASK TYPE CHECK (is EOT?): True\n',
 '>>>>>>>>>TASK TYPE: END_TURN\n',
 'ALL TURN TASKS:\n',
 "PlayCardTask => [Viper] play 'Magic Carpet[61]'(MINION) to Pos[0] Option -1\n",
 "MinionAttackTask => [Viper] 'Knife Juggler[57]'(MINION) attack 'Gul'dan[4]'\n",
 "MinionAttackTask => [Viper] 'Mecharoo[54]'(MINION) attack 'Imp[70]'\n",
 "PlayCardTask => [Viper] play 'Sea Giant[67]'(MINION) to Pos[3] Option -1\n",
 "MinionAttackTask => [Viper] 'Abusive Sergeant[49]'(MINION) attack 'Gul'dan[4]'\n",
 "MinionAttackTask => [Viper] 'Voidwalker[44]'(MINION) attack 'Gul'dan[4]'\n",
 'EndTurnTask => [Viper]\n',
 '\n',
 'CURRENT PLAYER: P2 Viper\n',
 'AMOUNTHEALEDTHISTURN 0\n',
 'HEROPOWERACTIVATIONSTHIS TURN 0\n',
 'NUMATTACKSTHISTURN 0\n',
 'NUMCARDSDRAWNTHISTURN 1\n',
 'NUMCARDSPLAYEDTHISTURN 2\n',
 'NUMCARDSTODRAW 0\n',
 'NUMELEMENTALSPLAYEDLASTTURN 0\n',
 'NUMELEMENTALSPLAYEDTHISTURN 0\n',
 'NUMFRIENDLYMINIONSTHATATTACKEDTHISTURN 4\n',
 'NUMFRIENDLYMINIONSTHATDIEDTHISTURN 1\n',
 'NUMMINIONSPLAYEDTHISTURN 2\n',
 'NUMMINIONSPLAYERKILLEDTHISTURN 3\n',
 'NUMOPTIONSPLAYEDTHISTURN 6\n',
 'NUMSECRETSPLAYEDTHISGAME 0\n',
 'NUMSPELLSPLAYEDTHISGAME 1\n',
 'NUMTIMESHEROPOWERUSEDTHISGAME 0\n',
 'REMAININGMANA -1\n',
 'TOTALMANASPENTTHISGAME 12\n',
 'USEDMANATHISTURN 5\n',
 'PlayedCard: [Magic Carpet]\n',
 'PlayedCard: [Sea Giant]\n',
 'No more cards played this turn.\n',
 '______________________________________________________________________|\n']

### As we can see at turn number 8, the Remaining Mana for Viper is -1. Should be fixed in the data processing.

### Let's verify with game16 as well:

In [23]:
games_df[149:155][['GAME_ID','TURN_NO', 'P1_HEALTH', 'P2_HEALTH', 'CURRENT_PLAYER', 'REMAININGMANA']]

        GAME_ID  TURN_NO  P1_HEALTH  P2_HEALTH CURRENT_PLAYER  REMAININGMANA
149  game16.txt        6         29         23       P2 Viper            0.0
150  game16.txt        7         29         18      P1 Roffle            2.0
151  game16.txt        8         25         18       P2 Viper            0.0
152  game16.txt        9         25         18      P1 Roffle            1.0
153  game16.txt       10         20         18       P2 Viper            NaN
154  game16.txt       11         20         18      P1 Roffle            2.0

In [26]:
flag = False
savedLines = []
with open(filepaths['game16.txt']) as f:
    lines = f.readlines()
    for line in lines:
        if 'turn no 10' in line:
            flag = True
        if flag:
            savedLines.append(line)
        if flag and line[0] == '_' and line[-2] == '|':
            break
savedLines

['Player1: PLAYING / Player2: PLAYING - turn no 10\n',
 'Hero[P1]: 20 / Hero[P2]: 18\n',
 '>>>>>>>>>TASK TYPE CHECK (is EOT?): True\n',
 '>>>>>>>>>TASK TYPE: END_TURN\n',
 'ALL TURN TASKS:\n',
 "MinionAttackTask => [Viper] 'Defender of Argus[65]'(MINION) attack 'Gul'dan[4]'\n",
 "MinionAttackTask => [Viper] 'Microbot[71]'(MINION) attack 'Gul'dan[4]'\n",
 "PlayCardTask => [Viper] play 'Knife Juggler[58]'(MINION) to Pos[0] Option -1\n",
 "PlayCardTask => [Viper] play 'Voidwalker[43]'(MINION) to Pos[2] Option -1\n",
 "PlayCardTask => [Viper] play 'Sea Giant[66]'(MINION) to Pos[3] Option -1\n",
 'EndTurnTask => [Viper]\n',
 '\n',
 'CURRENT PLAYER: P2 Viper\n',
 'AMOUNTHEALEDTHISTURN 0\n',
 'HEROPOWERACTIVATIONSTHIS TURN 0\n',
 'NUMATTACKSTHISTURN 0\n',
 'NUMCARDSDRAWNTHISTURN 1\n',
 'NUMCARDSPLAYEDTHISTURN 3\n',
 'NUMCARDSTODRAW 0\n',
 'NUMELEMENTALSPLAYEDLASTTURN 0\n',
 'NUMELEMENTALSPLAYEDTHISTURN 0\n',
 'NUMFRIENDLYMINIONSTHATATTACKEDTHISTURN 2\n',
 'NUMFRIENDLYMINIONSTHATDIEDTHISTURN 0\n',
 'NUMMINIONSPLAYEDTHISTURN 3\n',
 'NUMMINIONSPLAYERKILLEDTHISTURN 1\n',
 'NUMOPTIONSPLAYEDTHISTURN 5\n',
 'NUMSECRETSPLAYEDTHISGAME 0\n',
 'NUMSPELLSPLAYEDTHISGAME 1\n',
 'NUMTIMESHEROPOWERUSEDTHISGAME 0\n',
 'REMAININGMANA -1\n',
 'TOTALMANASPENTTHISGAME 16\n',
 'USEDMANATHISTURN 6\n',
 'PlayedCard: [Knife Juggler]\n',
 'PlayedCard: [Voidwalker]\n',
 'PlayedCard: [Sea Giant]\n',
 'No more cards played this turn.\n',
 '______________________________________________________________________|\n']

### In game16 at turn 10, we see Viper again with -1 RemainingMana

## Change the values where RemainingMana equals -1 into 0.

In [36]:
games_df.loc[(games_df['REMAININGMANA']==-1)]

,GAME_ID,TURN_NO,P1_HEALTH,P2_HEALTH,CURRENT_PLAYER,AMOUNTHEALEDTHISTURN,NUMATTACKSTHISTURN,NUMCARDSDRAWNTHISTURN,NUMCARDSPLAYEDTHISTURN,NUMCARDSTODRAW,...,NUMFRIENDLYMINIONSTHATDIEDTHISTURN,NUMMINIONSPLAYEDTHISTURN,NUMMINIONSPLAYERKILLEDTHISTURN,NUMOPTIONSPLAYEDTHISTURN,NUMSECRETSPLAYEDTHISGAME,NUMSPELLSPLAYEDTHISGAME,NUMTIMESHEROPOWERUSEDTHISGAME,REMAININGMANA,TOTALMANASPENTTHISGAME,USEDMANATHISTURN
32,game04.txt,8,14,26,P2 Viper,0,0,1,2,0,...,1,2,3,6,0,1,0,-1,12,5
153,game16.txt,10,20,18,P2 Viper,0,0,1,3,0,...,0,3,1,5,0,1,0,-1,16,6

In [37]:
games_df['REMAININGMANA'].replace(-1, 0, inplace=True)

In [38]:
games_df.loc[(games_df['REMAININGMANA']==-1)]

Empty DataFrame
Columns: [GAME_ID, TURN_NO, P1_HEALTH, P2_HEALTH, CURRENT_PLAYER, AMOUNTHEALEDTHISTURN, NUMATTACKSTHISTURN, NUMCARDSDRAWNTHISTURN, NUMCARDSPLAYEDTHISTURN, NUMCARDSTODRAW, NUMELEMENTALSPLAYEDLASTTURN, NUMELEMENTALSPLAYEDTHISTURN, NUMFRIENDLYMINIONSTHATATTACKEDTHISTURN, NUMFRIENDLYMINIONSTHATDIEDTHISTURN, NUMMINIONSPLAYEDTHISTURN, NUMMINIONSPLAYERKILLEDTHISTURN, NUMOPTIONSPLAYEDTHISTURN, NUMSECRETSPLAYEDTHISGAME, NUMSPELLSPLAYEDTHISGAME, NUMTIMESHEROPOWERUSEDTHISGAME, REMAININGMANA, TOTALMANASPENTTHISGAME, USEDMANATHISTURN]
Index: []

[0 rows x 23 columns]

In [39]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_cols = games_df.select_dtypes(include=numerics)

In [40]:
print(numeric_cols.shape)
numeric_cols.head(20)

(196, 21)

,TURN_NO,P1_HEALTH,P2_HEALTH,AMOUNTHEALEDTHISTURN,NUMATTACKSTHISTURN,NUMCARDSDRAWNTHISTURN,NUMCARDSPLAYEDTHISTURN,NUMCARDSTODRAW,NUMELEMENTALSPLAYEDLASTTURN,NUMELEMENTALSPLAYEDTHISTURN,...,NUMFRIENDLYMINIONSTHATDIEDTHISTURN,NUMMINIONSPLAYEDTHISTURN,NUMMINIONSPLAYERKILLEDTHISTURN,NUMOPTIONSPLAYEDTHISTURN,NUMSECRETSPLAYEDTHISGAME,NUMSPELLSPLAYEDTHISGAME,NUMTIMESHEROPOWERUSEDTHISGAME,REMAININGMANA,TOTALMANASPENTTHISGAME,USEDMANATHISTURN
0,1,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
1,2,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
2,3,30,27,0,0,1,2,0,0,0,...,0,2,0,3,0,0,0,0,3,2
3,4,29,27,0,0,1,2,0,0,0,...,0,1,0,3,0,1,0,0,4,2
4,5,29,21,0,0,1,2,0,0,0,...,1,1,1,5,0,1,0,0,6,3
5,6,20,21,0,0,1,2,0,0,0,...,0,2,0,6,0,1,0,3,4,0
6,7,20,12,0,0,1,1,0,0,0,...,0,1,0,7,0,1,0,3,7,1
7,1,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
8,2,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
9,3,30,30,0,0,1,2,0,0,0,...,0,1,0,3,0,1,0,0,3,2
10,4,26,30,0,0,4,4,0,0,0,...,1,1,1,5,0,3,0,0,4,2
11,5,26,24,0,0,1,2,0,0,0,...,1,1,2,4,0,2,0,1,5,2
12,6,26,24,0,0,1,1,0,0,0,...,0,1,0,1,0,3,0,0,7,3
13,7,26,11,0,0,1,2,0,0,0,...,0,2,0,5,0,2,0,0,9,4
14,8,22,11,0,0,1,2,0,0,0,...,0,2,0,5,0,3,0,0,11,4
15,1,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0,1,1
16,2,30,30,0,0,1,2,0,0,0,...,0,1,0,2,0,1,0,0,2,1
17,3,30,28,0,0,1,2,0,0,0,...,0,2,0,3,0,0,0,0,3,2
18,4,29,28,0,0,1,2,0,0,0,...,1,1,2,3,0,2,0,0,4,2
19,5,29,23,0,0,1,1,0,0,0,...,0,1,0,3,0,0,0,0,6,3

In [41]:
from sklearn.preprocessing import StandardScaler
# features = ['sepal length', 'sepal width', 'petal length', 'petal width']
# Separating out the features
# x = df.loc[:, features].values
# Separating out the target
# y = df.loc[:,['target']].values
# Standardizing the features
x = StandardScaler().fit_transform(numeric_cols)
xdf = pd.DataFrame(x, columns = numeric_cols.columns)

In [42]:
xdf.shape

(196, 21)

In [43]:
xdf.head()

,TURN_NO,P1_HEALTH,P2_HEALTH,AMOUNTHEALEDTHISTURN,NUMATTACKSTHISTURN,NUMCARDSDRAWNTHISTURN,NUMCARDSPLAYEDTHISTURN,NUMCARDSTODRAW,NUMELEMENTALSPLAYEDLASTTURN,NUMELEMENTALSPLAYEDTHISTURN,...,NUMFRIENDLYMINIONSTHATDIEDTHISTURN,NUMMINIONSPLAYEDTHISTURN,NUMMINIONSPLAYERKILLEDTHISTURN,NUMOPTIONSPLAYEDTHISTURN,NUMSECRETSPLAYEDTHISGAME,NUMSPELLSPLAYEDTHISGAME,NUMTIMESHEROPOWERUSEDTHISGAME,REMAININGMANA,TOTALMANASPENTTHISGAME,USEDMANATHISTURN
0,-1.492152,0.812950,1.047238,0.0,0.0,-0.188857,-0.628342,0.0,0.0,0.0,...,-0.480261,-0.073458,-0.551942,-1.246908,0.0,-1.320328,-0.219382,-0.579284,-1.197500,-0.915734
1,-1.162432,0.812950,1.047238,0.0,0.0,-0.188857,-0.628342,0.0,0.0,0.0,...,-0.480261,-0.073458,-0.551942,-1.246908,0.0,-1.320328,-0.219382,-0.579284,-1.197500,-0.915734
2,-0.832712,0.812950,0.608963,0.0,0.0,-0.188857,0.740047,0.0,0.0,0.0,...,-0.480261,1.526289,-0.551942,-0.128400,0.0,-1.320328,-0.219382,-0.579284,-0.732728,-0.192009
3,-0.502992,0.678488,0.608963,0.0,0.0,-0.188857,0.740047,0.0,0.0,0.0,...,-0.480261,-0.073458,-0.551942,-0.128400,0.0,-0.259737,-0.219382,-0.579284,-0.500341,-0.192009
4,-0.173271,0.678488,-0.267586,0.0,0.0,-0.188857,0.740047,0.0,0.0,0.0,...,1.088592,-0.073458,0.405409,0.990108,0.0,-0.259737,-0.219382,-0.579284,-0.035569,0.531717

In [44]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)

In [46]:
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

In [47]:
principalDf

     principal component 1  principal component 2
0                -3.387758              -0.290143
1                -3.263776              -0.314780
2                -1.858571               1.396290
3                -1.386476               0.781319
4                 0.619263               0.579218
5                 0.846476              -0.281776
6                 2.303941              -1.762577
7                -3.387758              -0.290143
8                -3.263776              -0.314780
9                -1.792389               0.823028
10                0.415018               4.050532
11                0.516317               0.054109
12               -0.552414               0.376576
13                1.875206               1.806229
14                2.636927               1.894223
15               -3.387758              -0.290143
16               -2.592210               0.651762
17               -1.908012               1.403947
18               -0.556875               0.500600
19               -0.883417              -0.025821
20                0.115215               0.157107
21                1.034888              -1.759396
22                3.289779               0.007886
23                3.533899              -1.540839
24                4.216404               1.320447
25               -2.975494              -0.917005
26               -2.394449               0.621134
27               -2.301506              -0.008438
28               -1.181020               1.470728
29               -0.945169              -1.313899
..                     ...                    ...
166               4.404365               5.184517
167              -3.387758              -0.290143
168              -2.592210               0.651762
169              -1.908012               1.403947
170              -1.234812               1.482560
171               0.806473              -0.351327
172               0.410986              -1.222864
173               2.466476               1.526664
174               2.372649               0.035639
175               5.565745              -2.649781
176               3.601272               1.243165
177              -3.387758              -0.290143
178              -2.592210               0.651762
179              -1.178051               0.504117
180              -1.684823              -0.072216
181              -1.914842              -3.169937
182               1.057346               0.610985
183              -0.411129              -0.238779
184               3.251655               3.599476
185               4.306198               1.423790
186              -3.387758              -0.290143
187              -1.777278               3.239575
188              -1.742948               0.815371
189              -1.284397              -0.815790
190              -0.747040               0.100774
191               0.376212              -1.672643
192               2.208520               1.524124
193               0.486567               0.354150
194               4.475953              -1.588976
195               3.452731               2.122991

[196 rows x 2 columns]