In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import re
import argparse
import logging

# import os
# import glob
import sys
from pathlib import Path

In [2]:
machine = 'desktop'
if machine == 'laptop':
    # laptop directory
    directory = "C:\\Users\\watson\\Documents\\GitHub\\SabberStone-master\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\"
elif machine == 'desktop':
    # desktop directory
    directory = "C:\\Users\\watson\\Documents\\SabberStone 2019\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\"
elif machine == 'kong':
    directory = "blah"

In [3]:
directory

'C:\\Users\\watson\\Documents\\SabberStone 2019\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\'

In [5]:
games = []
pathlist = Path(directory).glob('**\\*.txt')
filepaths = {}
for path in pathlist:
    #print('__________________________________________________________________')
    # because path is object not string
    game_name = str(path)
    game_csv_name = game_name.replace('.txt', '.csv')
    game_plot_name = game_name.replace('.txt', '.png')
    #print(game_name)
    #print(game_csv_name)
    #print(game_plot_name)
    parts = str(path).split('\\')
    game_id = parts[-1]
    filepaths[game_id] = game_name
    with open(game_csv_name) as f:
        df = pd.read_csv(f, index_col=0)
        id_col = [game_id for row in range(df.shape[0])]
        df.insert(0, "GAME_ID", game_id)
        games.append(df)
    #game_obj = GameFilter(game_name)
    #game_obj.parse_file(game_csv_name)
    #logging.info('Number of turns: {}'.format(len(game_obj.end_of_turn_data)))
    #game_obj.plot_data(game_plot_name)
len(games)

20

In [8]:
filepaths['game04.txt']

'C:\\Users\\watson\\Documents\\SabberStone 2019\\Sabber_Work_2019F\\thesis-output\\Z1vsZ2\\game04.txt'

In [9]:
games_df = pd.concat(games)
games_df.reset_index(drop=True, inplace=True)
games_df.head(15)

,GAME_ID,TURN_NO,P1_HEALTH,P2_HEALTH,CURRENT_PLAYER,AMOUNTHEALEDTHISTURN,NUMATTACKSTHISTURN,NUMCARDSDRAWNTHISTURN,NUMCARDSPLAYEDTHISTURN,NUMCARDSTODRAW,...,NUMFRIENDLYMINIONSTHATDIEDTHISTURN,NUMMINIONSPLAYEDTHISTURN,NUMMINIONSPLAYERKILLEDTHISTURN,NUMOPTIONSPLAYEDTHISTURN,NUMSECRETSPLAYEDTHISGAME,NUMSPELLSPLAYEDTHISGAME,NUMTIMESHEROPOWERUSEDTHISGAME,REMAININGMANA,TOTALMANASPENTTHISGAME,USEDMANATHISTURN
0,game01.txt,1,30,30,P1 Roffle,0,0,1,1,0,...,0,1,0,1,0,0,0,0.0,1,1
1,game01.txt,2,30,30,P2 Viper,0,0,1,1,0,...,0,1,0,1,0,0,0,0.0,1,1
2,game01.txt,3,30,27,P1 Roffle,0,0,1,2,0,...,0,2,0,3,0,0,0,0.0,3,2
3,game01.txt,4,29,27,P2 Viper,0,0,1,2,0,...,0,1,0,3,0,1,0,0.0,4,2
4,game01.txt,5,29,21,P1 Roffle,0,0,1,2,0,...,1,1,1,5,0,1,0,0.0,6,3
5,game01.txt,6,20,21,P2 Viper,0,0,1,2,0,...,0,2,0,6,0,1,0,3.0,4,0
6,game01.txt,7,20,12,P1 Roffle,0,0,1,1,0,...,0,1,0,7,0,1,0,3.0,7,1
7,game02.txt,1,30,30,P1 Roffle,0,0,1,1,0,...,0,1,0,1,0,0,0,0.0,1,1
8,game02.txt,2,30,30,P2 Viper,0,0,1,1,0,...,0,1,0,1,0,0,0,0.0,1,1
9,game02.txt,3,30,30,P1 Roffle,0,0,1,2,0,...,0,1,0,3,0,1,0,0.0,3,2
10,game02.txt,4,26,30,P2 Viper,0,0,4,4,0,...,1,1,1,5,0,3,0,0.0,4,2
11,game02.txt,5,26,24,P1 Roffle,0,0,1,2,0,...,1,1,2,4,0,2,0,1.0,5,2
12,game02.txt,6,26,24,P2 Viper,0,0,1,1,0,...,0,1,0,1,0,3,0,0.0,7,3
13,game02.txt,7,26,11,P1 Roffle,0,0,1,2,0,...,0,2,0,5,0,2,0,0.0,9,4
14,game02.txt,8,22,11,P2 Viper,0,0,1,2,0,...,0,2,0,5,0,3,0,0.0,11,4

In [10]:
games_df.isnull().any()

GAME_ID                                   False
TURN_NO                                   False
P1_HEALTH                                 False
P2_HEALTH                                 False
CURRENT_PLAYER                            False
AMOUNTHEALEDTHISTURN                      False
NUMATTACKSTHISTURN                        False
NUMCARDSDRAWNTHISTURN                     False
NUMCARDSPLAYEDTHISTURN                    False
NUMCARDSTODRAW                            False
NUMELEMENTALSPLAYEDLASTTURN               False
NUMELEMENTALSPLAYEDTHISTURN               False
NUMFRIENDLYMINIONSTHATATTACKEDTHISTURN    False
NUMFRIENDLYMINIONSTHATDIEDTHISTURN        False
NUMMINIONSPLAYEDTHISTURN                  False
NUMMINIONSPLAYERKILLEDTHISTURN            False
NUMOPTIONSPLAYEDTHISTURN                  False
NUMSECRETSPLAYEDTHISGAME                  False
NUMSPELLSPLAYEDTHISGAME                   False
NUMTIMESHEROPOWERUSEDTHISGAME             False
REMAININGMANA                              True
TOTALMANASPENTTHISGAME                    False
USEDMANATHISTURN                          False
dtype: bool

### Why are there null values in the RemainingMana column?

In [11]:
games_df['REMAININGMANA'].loc[(games_df['REMAININGMANA'].isnull())]

32    NaN
153   NaN
Name: REMAININGMANA, dtype: float64

In [14]:
games_df[30:34][['GAME_ID','TURN_NO', 'P1_HEALTH', 'P2_HEALTH', 'CURRENT_PLAYER', 'REMAININGMANA']]

       GAME_ID  TURN_NO  P1_HEALTH  P2_HEALTH CURRENT_PLAYER  REMAININGMANA
30  game04.txt        6         20         26       P2 Viper            0.0
31  game04.txt        7         20         26      P1 Roffle            0.0
32  game04.txt        8         14         26       P2 Viper            NaN
33  game04.txt        9         14         25      P1 Roffle            3.0

In [27]:
flag = False
savedLines = []
with open(filepaths['game04.txt']) as f:
    lines = f.readlines()
    for line in lines:
        if 'turn no 8' in line:
            flag = True
        if flag:
            savedLines.append(line)
        if flag and line[0] == '_' and line[-2] == '|':
            break
savedLines

['Player1: PLAYING / Player2: PLAYING - turn no 8\n',
 'Hero[P1]: 14 / Hero[P2]: 26\n',
 '>>>>>>>>>TASK TYPE CHECK (is EOT?): True\n',
 '>>>>>>>>>TASK TYPE: END_TURN\n',
 'ALL TURN TASKS:\n',
 "PlayCardTask => [Viper] play 'Magic Carpet[61]'(MINION) to Pos[0] Option -1\n",
 "MinionAttackTask => [Viper] 'Knife Juggler[57]'(MINION) attack 'Gul'dan[4]'\n",
 "MinionAttackTask => [Viper] 'Mecharoo[54]'(MINION) attack 'Imp[70]'\n",
 "PlayCardTask => [Viper] play 'Sea Giant[67]'(MINION) to Pos[3] Option -1\n",
 "MinionAttackTask => [Viper] 'Abusive Sergeant[49]'(MINION) attack 'Gul'dan[4]'\n",
 "MinionAttackTask => [Viper] 'Voidwalker[44]'(MINION) attack 'Gul'dan[4]'\n",
 'EndTurnTask => [Viper]\n',
 '\n',
 'CURRENT PLAYER: P2 Viper\n',
 'AMOUNTHEALEDTHISTURN 0\n',
 'HEROPOWERACTIVATIONSTHIS TURN 0\n',
 'NUMATTACKSTHISTURN 0\n',
 'NUMCARDSDRAWNTHISTURN 1\n',
 'NUMCARDSPLAYEDTHISTURN 2\n',
 'NUMCARDSTODRAW 0\n',
 'NUMELEMENTALSPLAYEDLASTTURN 0\n',
 'NUMELEMENTALSPLAYEDTHISTURN 0\n',
 'NUMFRIENDLYMINIONSTHATATTACKEDTHISTURN 4\n',
 'NUMFRIENDLYMINIONSTHATDIEDTHISTURN 1\n',
 'NUMMINIONSPLAYEDTHISTURN 2\n',
 'NUMMINIONSPLAYERKILLEDTHISTURN 3\n',
 'NUMOPTIONSPLAYEDTHISTURN 6\n',
 'NUMSECRETSPLAYEDTHISGAME 0\n',
 'NUMSPELLSPLAYEDTHISGAME 1\n',
 'NUMTIMESHEROPOWERUSEDTHISGAME 0\n',
 'REMAININGMANA -1\n',
 'TOTALMANASPENTTHISGAME 12\n',
 'USEDMANATHISTURN 5\n',
 'PlayedCard: [Magic Carpet]\n',
 'PlayedCard: [Sea Giant]\n',
 'No more cards played this turn.\n',
 '______________________________________________________________________|\n']

### As we can see at turn number 8, the Remaining Mana for Viper is -1. Should be fixed in the data processing.

### Let's verify with game16 as well:

In [23]:
games_df[149:155][['GAME_ID','TURN_NO', 'P1_HEALTH', 'P2_HEALTH', 'CURRENT_PLAYER', 'REMAININGMANA']]

        GAME_ID  TURN_NO  P1_HEALTH  P2_HEALTH CURRENT_PLAYER  REMAININGMANA
149  game16.txt        6         29         23       P2 Viper            0.0
150  game16.txt        7         29         18      P1 Roffle            2.0
151  game16.txt        8         25         18       P2 Viper            0.0
152  game16.txt        9         25         18      P1 Roffle            1.0
153  game16.txt       10         20         18       P2 Viper            NaN
154  game16.txt       11         20         18      P1 Roffle            2.0

In [26]:
flag = False
savedLines = []
with open(filepaths['game16.txt']) as f:
    lines = f.readlines()
    for line in lines:
        if 'turn no 10' in line:
            flag = True
        if flag:
            savedLines.append(line)
        if flag and line[0] == '_' and line[-2] == '|':
            break
savedLines

['Player1: PLAYING / Player2: PLAYING - turn no 10\n',
 'Hero[P1]: 20 / Hero[P2]: 18\n',
 '>>>>>>>>>TASK TYPE CHECK (is EOT?): True\n',
 '>>>>>>>>>TASK TYPE: END_TURN\n',
 'ALL TURN TASKS:\n',
 "MinionAttackTask => [Viper] 'Defender of Argus[65]'(MINION) attack 'Gul'dan[4]'\n",
 "MinionAttackTask => [Viper] 'Microbot[71]'(MINION) attack 'Gul'dan[4]'\n",
 "PlayCardTask => [Viper] play 'Knife Juggler[58]'(MINION) to Pos[0] Option -1\n",
 "PlayCardTask => [Viper] play 'Voidwalker[43]'(MINION) to Pos[2] Option -1\n",
 "PlayCardTask => [Viper] play 'Sea Giant[66]'(MINION) to Pos[3] Option -1\n",
 'EndTurnTask => [Viper]\n',
 '\n',
 'CURRENT PLAYER: P2 Viper\n',
 'AMOUNTHEALEDTHISTURN 0\n',
 'HEROPOWERACTIVATIONSTHIS TURN 0\n',
 'NUMATTACKSTHISTURN 0\n',
 'NUMCARDSDRAWNTHISTURN 1\n',
 'NUMCARDSPLAYEDTHISTURN 3\n',
 'NUMCARDSTODRAW 0\n',
 'NUMELEMENTALSPLAYEDLASTTURN 0\n',
 'NUMELEMENTALSPLAYEDTHISTURN 0\n',
 'NUMFRIENDLYMINIONSTHATATTACKEDTHISTURN 2\n',
 'NUMFRIENDLYMINIONSTHATDIEDTHISTURN 0\n',
 'NUMMINIONSPLAYEDTHISTURN 3\n',
 'NUMMINIONSPLAYERKILLEDTHISTURN 1\n',
 'NUMOPTIONSPLAYEDTHISTURN 5\n',
 'NUMSECRETSPLAYEDTHISGAME 0\n',
 'NUMSPELLSPLAYEDTHISGAME 1\n',
 'NUMTIMESHEROPOWERUSEDTHISGAME 0\n',
 'REMAININGMANA -1\n',
 'TOTALMANASPENTTHISGAME 16\n',
 'USEDMANATHISTURN 6\n',
 'PlayedCard: [Knife Juggler]\n',
 'PlayedCard: [Voidwalker]\n',
 'PlayedCard: [Sea Giant]\n',
 'No more cards played this turn.\n',
 '______________________________________________________________________|\n']

### In game16 at turn 10, we see Viper again with -1 RemainingMana

In [9]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_cols = games_df.select_dtypes(include=numerics)

In [18]:
print(numeric_cols.shape)
numeric_cols.head(20)

(196, 21)

,TURN_NO,P1_HEALTH,P2_HEALTH,AMOUNTHEALEDTHISTURN,NUMATTACKSTHISTURN,NUMCARDSDRAWNTHISTURN,NUMCARDSPLAYEDTHISTURN,NUMCARDSTODRAW,NUMELEMENTALSPLAYEDLASTTURN,NUMELEMENTALSPLAYEDTHISTURN,...,NUMFRIENDLYMINIONSTHATDIEDTHISTURN,NUMMINIONSPLAYEDTHISTURN,NUMMINIONSPLAYERKILLEDTHISTURN,NUMOPTIONSPLAYEDTHISTURN,NUMSECRETSPLAYEDTHISGAME,NUMSPELLSPLAYEDTHISGAME,NUMTIMESHEROPOWERUSEDTHISGAME,REMAININGMANA,TOTALMANASPENTTHISGAME,USEDMANATHISTURN
1,1,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0.0,1,1
2,2,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0.0,1,1
3,3,30,27,0,0,1,2,0,0,0,...,0,2,0,3,0,0,0,0.0,3,2
4,4,29,27,0,0,1,2,0,0,0,...,0,1,0,3,0,1,0,0.0,4,2
5,5,29,21,0,0,1,2,0,0,0,...,1,1,1,5,0,1,0,0.0,6,3
6,6,20,21,0,0,1,2,0,0,0,...,0,2,0,6,0,1,0,3.0,4,0
7,7,20,12,0,0,1,1,0,0,0,...,0,1,0,7,0,1,0,3.0,7,1
1,1,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0.0,1,1
2,2,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0.0,1,1
3,3,30,30,0,0,1,2,0,0,0,...,0,1,0,3,0,1,0,0.0,3,2
4,4,26,30,0,0,4,4,0,0,0,...,1,1,1,5,0,3,0,0.0,4,2
5,5,26,24,0,0,1,2,0,0,0,...,1,1,2,4,0,2,0,1.0,5,2
6,6,26,24,0,0,1,1,0,0,0,...,0,1,0,1,0,3,0,0.0,7,3
7,7,26,11,0,0,1,2,0,0,0,...,0,2,0,5,0,2,0,0.0,9,4
8,8,22,11,0,0,1,2,0,0,0,...,0,2,0,5,0,3,0,0.0,11,4
1,1,30,30,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,0.0,1,1
2,2,30,30,0,0,1,2,0,0,0,...,0,1,0,2,0,1,0,0.0,2,1
3,3,30,28,0,0,1,2,0,0,0,...,0,2,0,3,0,0,0,0.0,3,2
4,4,29,28,0,0,1,2,0,0,0,...,1,1,2,3,0,2,0,0.0,4,2
5,5,29,23,0,0,1,1,0,0,0,...,0,1,0,3,0,0,0,0.0,6,3

In [25]:
from sklearn.preprocessing import StandardScaler
# features = ['sepal length', 'sepal width', 'petal length', 'petal width']
# Separating out the features
# x = df.loc[:, features].values
# Separating out the target
# y = df.loc[:,['target']].values
# Standardizing the features
x = StandardScaler().fit_transform(numeric_cols)
xdf = pd.DataFrame(x, columns = numeric_cols.columns)

In [26]:
xdf.shape

(196, 21)

In [27]:
xdf.head()

,TURN_NO,P1_HEALTH,P2_HEALTH,AMOUNTHEALEDTHISTURN,NUMATTACKSTHISTURN,NUMCARDSDRAWNTHISTURN,NUMCARDSPLAYEDTHISTURN,NUMCARDSTODRAW,NUMELEMENTALSPLAYEDLASTTURN,NUMELEMENTALSPLAYEDTHISTURN,...,NUMFRIENDLYMINIONSTHATDIEDTHISTURN,NUMMINIONSPLAYEDTHISTURN,NUMMINIONSPLAYERKILLEDTHISTURN,NUMOPTIONSPLAYEDTHISTURN,NUMSECRETSPLAYEDTHISGAME,NUMSPELLSPLAYEDTHISGAME,NUMTIMESHEROPOWERUSEDTHISGAME,REMAININGMANA,TOTALMANASPENTTHISGAME,USEDMANATHISTURN
0,-1.492152,0.812950,1.047238,0.0,0.0,-0.188857,-0.628342,0.0,0.0,0.0,...,-0.480261,-0.073458,-0.551942,-1.246908,0.0,-1.320328,-0.219382,-0.583272,-1.197500,-0.915734
1,-1.162432,0.812950,1.047238,0.0,0.0,-0.188857,-0.628342,0.0,0.0,0.0,...,-0.480261,-0.073458,-0.551942,-1.246908,0.0,-1.320328,-0.219382,-0.583272,-1.197500,-0.915734
2,-0.832712,0.812950,0.608963,0.0,0.0,-0.188857,0.740047,0.0,0.0,0.0,...,-0.480261,1.526289,-0.551942,-0.128400,0.0,-1.320328,-0.219382,-0.583272,-0.732728,-0.192009
3,-0.502992,0.678488,0.608963,0.0,0.0,-0.188857,0.740047,0.0,0.0,0.0,...,-0.480261,-0.073458,-0.551942,-0.128400,0.0,-0.259737,-0.219382,-0.583272,-0.500341,-0.192009
4,-0.173271,0.678488,-0.267586,0.0,0.0,-0.188857,0.740047,0.0,0.0,0.0,...,1.088592,-0.073458,0.405409,0.990108,0.0,-0.259737,-0.219382,-0.583272,-0.035569,0.531717

In [28]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)

In [29]:
pca.fit_transform(x)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').